# Python Caches & Compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment Variables
.env
.env.local
!.env.example

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Database files
*.sqlite3
*.db

# Logs
*.log

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
